p span span {
    color: pink;
}

body {
    font-family: 'Coming Soon', cursive;
}

ol > li {
    color: blue;
}


/* #blue {
    color: blue;
}

#red {
    color: red;
}

#green {
    color: green;
}

#grey {
    color: grey;
} */

li ~ li ~ li ~ li {
    color: grey;
}

ol > li ~ li {
    color: black;
}

ul + li {
    color: red;
}

ol > li:first-of-type > ul > li {
    color: red;
}

ol > li:first-of-type > ul > li:last-of-type {
    color: green;
}