.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* @media screen and (max-width: 1000px) {
    .deck {
        flex-direction: column;
    }
    
} */

.card {
    /* ombre */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* augmente l'ombre quand on passe la souris */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

/* conteneur de la description */
.desc {
    padding: 2px 16px;
}

/* des cartes gold c cool mais le platine c'est mieux  */
.descPlat {
    padding: 2px 16px;
    background: rgb(34, 0, 233);
    background: linear-gradient(180deg, rgba(34, 0, 233, 1) 0%, rgba(154, 154, 149, 1) 31%, rgba(255, 255, 255, 1) 100%);
}

.cardPlat {
    /* ombre */
    box-shadow: 0 8px 16px 0 rgba(17, 0, 255, 0.637);
    transition: 0.3s;
}

/* augmente l'ombre quand on passe la souris */
.cardPlat:hover {
    box-shadow: 0 16px 32px 0 rgba(17, 0, 255, 0.637);
}


/* merci a ccs gradient pour faire tout ça oklm */

.descGold {
    padding: 2px 16px;
    background: rgb(233, 222, 0);
    background: linear-gradient(180deg, rgba(233, 222, 0, 1) 0%, rgba(255, 226, 0, 1) 22%, rgba(255, 255, 255, 1) 100%);
}

.cardGold {
    /* ombre */
    box-shadow: 0 8px 16px 0 rgba(255, 230, 0, 0.637);
    transition: 0.3s;
}

/* augmente l'ombre quand on passe la souris */
.cardGold:hover {
    box-shadow: 0 16px 32px 0 rgba(255, 230, 0, 0.637);
}


p {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    height: 400px;
    width: 250px;
}