.Box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}


.green{
    background-color: green;
    flex: 2 1;
}
.red{
    background-color: red;
    flex: 1 1;
}
.blue{
    background-color: blue;
    flex: 3 1;
}

}
body {
    background-color: palevioletred;
    margin: 0px;
}