.box 
{
    display: flex;
    height: 50vh;

}

.green 
{
    background-color: green;
    flex: 5 5;
}

.red 
{
    background-color: red;
    flex: 4 4;
}

.blue 
{
    background-color: blue;
    flex: 1 1;
}

.box2 
{
    display: flex;
    height: 50vh;
    flex-direction: column;

}
.purple{
    background-color: purple;
    flex: 2 2;
}
.yellow{
    background-color: yellow;
    flex: 2 2;
}
.white{
    background-color: antiquewhite;
    flex: 1 1;
}
body{
    background-color: black;
}